workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -464,
        208
      ],
      "id": "2e67b781-5bd4-4351-acd3-3772124e702f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/n8n-io/n8n/stargazers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3.star+json"
            },
            {
              "name": "Authorization",
              "value": "Bearer <GITHUB TOKEN>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -256,
        208
      ],
      "id": "ff88d708-d0ef-40ee-99fc-b25d5d12c03a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        16,
        0
      ],
      "id": "ee348bba-461a-40e6-bc83-e2e4195b80cb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/users/{{$json[\"user\"][\"login\"]}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <GITHUB TOKEN>"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        32
      ],
      "id": "0ca81f20-45cc-49d1-bb4d-5e856dc5b77c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "60288654-6a7c-48de-a8b4-f8ac30df0d89",
              "leftValue": "={{$json[\"followers\"]}}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "95dfcc85-5dcf-4aae-9f49-b68829ded1d4",
              "leftValue": "={{$json[\"public_repos\"]}}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        -48
      ],
      "id": "0b2f7fed-0d74-4e7d-a08d-28a52b8ea3c1",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Generate a 1-line sales pitch to connect with this developer.\n\nName: {{$json[\"name\"]}}\nCompany: {{$json[\"company\"]}}\nBio: {{$json[\"bio\"]}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        608,
        -96
      ],
      "id": "fb16a8fa-9f7a-4773-9584-83d89bdc11cc",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "i1kvNdobeP8n4fr7",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/<WEBHOOK URL>",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{\n\"🚀 HIGH VALUE LEAD\\n\\n👤 \" + $node[\"If\"].json[\"name\"] +\n\"\\n📍 \" + ($node[\"If\"].json[\"company\"] || \"N/A\") +\n\"\\n🧠 \" + ($node[\"If\"].json[\"bio\"] || \"No bio\") +\n\"\\n⭐ Followers: \" + $node[\"If\"].json[\"followers\"] +\n\"\\n📦 Repos: \" + $node[\"If\"].json[\"public_repos\"] +\n\"\\n\\n💡 Pitch: \" + $node[\"Message a model\"].json[\"output\"][0][\"content\"][0][\"text\"]\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        0
      ],
      "id": "eb9b9900-9f16-44d0-b16a-af8425434426",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4a7b4675-e01f-48a3-977c-e1c9476aca40",
  "meta": {
    "instanceId": "bac94697fe2f2543586ab2e791fdd97877fb761ad45c48859edd69333dd73ae4"
  },
  "id": "KZPY85rUiFHqo0jw",
  "tags": []
}
